body {
    font-family: sans-serif;
    overflow: hidden;
}
/* overall */

/* menu bar */
.menubar {
    border: 1px solid #888;
    border-radius: 3px;
    padding: 0px;
    
    display: flex;
    flex-wrap: wrap;
}
.menuBarSegment {
    border: 1px solid #888;
    background-color: #f4f4f4;
    border-radius: 3px;
    margin: 2px;
    padding: 2px;
    
    height: 55px;
    overflow: hidden;
    display: inline-block;
}
.menuBarHeader {
    color: #444;
    font-size: small;    
}
.reportSelectorContainer {
    display: inline-block;
    width: 250px;
}
.reportSelector {
    color: #444;
    font-size: small;
    width: 240px;
    height: 18px;
    
    display: flex;
    justify-content: space-between;
}
.reportSelectorDropdown {
    float: right;
    width: 170px;
    max-height: 18px;
    display: inline-block;
}
.menuBarSegment svg {
    display: inline;
    height: 65%;
}

/* milestone map total */
.mMapScrollBox {
    overflow: scroll;
    max-height: 90vh;
}

.milestoneMap {
    width: 100%;
}

/* title bar */
.mMapTitle {
    font-size: 2em;
    font-weight: bold;
}
.mMapEdgeDate {
    font-weight: bold;
}
/* reports */
.reportHeader {
    font-size: small;
    fill: #444;
}
.reportLine {
    stroke: rgba(255, 0, 0, 0.4);
}


/* text input fields */
.milestoneMap input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.svgTextBox, .svgDateBox{
    margin: 0px;
    width: 90%;
    overflow: hidden;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
}
.svgTextBox br {
    display: none;
}
.milestoneData .svgTextBox, .milestoneData .svgDateBox{
    width: auto;
}

/* general */
.transparent {
    stroke: none;
    fill: rgba(0, 0, 0, 1);
}

/* date headers */
.even {
    fill: none;
}
.odd {
    fill: #fbfbfb;
}
.dateHeaderSeparator {
    stroke: black;
}
.minorRowText, .majorRowText {
    font-size: small;
}

.projectLine, .businessMsLine {
    stroke: #b0b0b0;
    stroke-dasharray: 3,8;
    stroke-width: 1;
}

/* milestones */
.milestone {
    stroke-width: 1;
    stroke: #505050;
}
.milestoneData {
    stroke: none;
    font-size: small;
}
.msComment {
    stroke: none;
    fill: #a0a0a0;
    font-size: small;
}

.milestone .complete {
    fill: #b0b0b0;
}
.milestone .on-track {
    fill: #33cc33;
}
.milestone .at-risk {
    fill: yellow;
}
.milestone .late {
    fill: red;
}
.milestone .previous {
    fill: white;
    stroke: gray;
    /* stroke-dasharray: 2,2; */
}

.businessMs .milestone {
    stroke-width: 3;
    stroke: #0099ff;
}

.businessMs .milestone .previous {
    stroke-width: 1;
    stroke: #505050;
}


.milestone .compareLine {
    stroke: rgba(255, 102, 255, 0.5);
    stroke-width: 3;
    stroke-dasharray: 5, 5;
}
.milestone .compareArrow {
    fill: rgba(255, 102, 255, 0.5);
    stroke: none;
}
.msAtReport .wide, .project .wide {
    min-width: 100%;
    max-width: 100%;
}
/* headers  */
.programmeHeader, .businessMsHeader{
    font-weight: bold;
}

/* dependencies */
.dependencyLine {
    fill: none;
    stroke: hsl(240, 50%, 80%);
    stroke-width: 2;
}

.dependencyArrow {
    fill: hsl(240, 50%, 80%);
    stroke: none;
}


/* Menus */
.menuEntry circle{
    fill: hsl(180, 30%, 90%);
    stroke: none;
}



/* priority level pallette */
/* default */
.priorityLine{
    stroke: #4D4D4D;
    fill: #4D4D4D;
    stroke-width: 2;
}

.priorityLine.priority-0 {
    stroke: #F15854;
    fill: #F15854;
}
.priorityLine.priority-1 {
    stroke: #5DA5DA;
    fill: #5DA5DA;
}
.priorityLine.priority-2 {
    stroke: #FAA43A;
    fill: #FAA43A;
}
.priorityLine.priority-3 {
    stroke: #60BD68;
    fill: #60BD68;
}
.priorityLine.priority-4 {
    stroke: #F17CB0;
    fill: #F17CB0;
}
.priorityLine.priority-5 {
    stroke: #B2912F;
    fill: #B2912F;
}
.priorityLine.priority-6 {
    stroke: #B276B2;
    fill: #B276B2;
}
.priorityLine.priority-7 {
    stroke: #DECF3F;
    fill: #DECF3F;
}
.priorityLine.slack {
    stroke: #b0b0b0;
    stroke-dasharray: 5,5;
    stroke-width: 1;
}

.hidden {
    display: none;
}


